notebooks/dev/
notebooks/figures
notebooks/graph_imgs
test_*.ipynb
*.egg-info

test.*

*.pyc
backups/
#corpus/*
!corpus/manifest.txt
!config_local.txt
!corpus/manifest_lab.txt
!corpus/*.py
!corpus/default/
!corpus/**/*.py
!corpus/**/*.md
corpus/_matches
.DS_Store
model/_models_word2vec/
#data/data.worddb*
data/fields*
data/*
!data/default

.ipynb_checkpoints
.pypirc
#MANIFEST.in
build/
dist/
mpi_slingshot.egg-info/
lltk.egg-info/

venv
.vscode


.*.py
.*.ipynb
*-jvsc-*
Preview*
*.html
Untitled*
*.pkl