include *.txt
recursive-include *.txt *.py
recursive-include lltk/corpus *.txt

# added by check_manifest.py
include LICENSE
recursive-include bin *.sh
recursive-include data *.gz
recursive-include lltk *.md
recursive-include lltk *.txt
