{% extends 'base.html' %}

{% block head %}
<title>{{text_meta['title']}}</title>
<script type="text/javascript" src="/static/rainbowvis.js"></script>
{% endblock %}


{% block content %}
<!-- <h3><i>{{text_meta['title']}}</i> [{{text_meta['year']}}], by {{text_meta['author']}}</h3> -->
<h3><i>{{text_meta['_lltk_']}}</i>
<!-- 
{% if text_meta %}
<h4>Metadata</h4>
<table id='text_metadata'>
	<tbody>
{% for k,v in text_meta.items() %}
{% if v %}
	<tr>
		<th>{{k}}</th>
		<td>{{v}}</td>
	</tr>
{% endif %}
{%endfor %}
</tbody>
</table>
{%endif%}
 -->



{%if data %}<h4>Data</h4>{%endif%}

<small>
{% for datatype in g.sorted(data) %}

<li><i>{{datatype}}</i>: 
	{% if "abstractions" in datatype %}
	<span class="abstractions">
	{% elif "concretions" in datatype %}
	<span class="concretions">
	{% else %}
	<span>
	{%endif%}


	{{data[datatype]}}</li>
	</span>
{% endfor %}
</small>

<h4>Text</h4>


{% autoescape false %}
	{{text_html}}
{% endautoescape %}


<div id="legend"></div>




{% endblock %}
