{% extends 'base.html' %}

{% block head %}
<title>Enter text</title>
<script type="text/javascript" src="/static/rainbowvis.js"></script>
{% endblock %}


{% block content %}

<h4>Text</h4>

<form action="/text/custom" method="post">
<textarea name="txt" cols="100" rows="20">
</textarea>

<input type="submit" value="Submit" />
</form>



<script>
    CodeMirror.defineMode("mymode", function() {
    
    return {
        token: function(stream,state) {
            
            if (stream.match("the") ) {
                return "style1";
            } else if (stream.match("a") ) {
                return "style2";
            } else {
                stream.next();
                return null;
            }
        }
    };
    
});


var editor = CodeMirror.fromTextArea(document.getElementById('cm'), {
    mode: "mymode",
    lineNumbers: true
});  










</script>


{% endblock %}
